:root {
  --primary-color: #f6e4ad;
}

h1 {
  text-align: center;
}
p {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 600px;
}

a {
  display: block;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 550px;
}

.container-fluid {
  margin-top: 20px;
  max-width: 600px;
}
