:root {
  --primary-color: #f6e4ad;
}
body {
  background-color: var(--primary-color);
}

h1 {
  text-align: center;
}
p {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 600px;
}
.container-fluid {
  max-width: 600px;
}
